<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{%url 'checklist:home'%}">뒤로 가기</a><br><br>
    <h3>{{todo.title}}</h3>
    {{todo.due_date|date:"Y년 m월 d일 l"}} - {{todo.due_time}}<br><br>

        {% if todo.repeat_on.all %}
        매주
        {% for day in todo.repeat_on.all %}
            {{ day.get_day_code_display }}
        {% endfor %}
    {% else %}
        <p>반복 없음</p>
    {% endif %}

    <br><br>
    <a href="{%url 'checklist:update' todo.id %}">수정</a>
    <a href="{%url 'checklist:delete' todo.id %}">삭제</a>
</body>
</html>