<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>알림 리스트</title>
</head>
<body>
    <a href="{{request.META.HTTP_REFERER|escape}}">뒤로 가기</a><br>
    
    {%load humanize%}
    <h1>알림 리스트</h1>

    <h2>새로운 알림</h2>
    <ul>
        
        {% for notification in new_notifications %}
            <li>
                <strong>{{ notification.message }}</strong> - 
                {% if notification.formatted_date %}
                    {{ notification.formatted_date }}
                {% else %}
                    {{ notification.naturaltime_date|naturaltime }}
                {% endif %}
            </li>
        {% empty %}
            <li>새로운 알림이 없습니다.</li>
        {% endfor %}
    </ul>

    <h2>지난 알림</h2>
    <ul>
        {% for notification in past_notifications %}
            <li>
                {{ notification.message }} - 
                {% if notification.formatted_date %}
                    {{ notification.formatted_date }}
                {% else %}
                    {{ notification.naturaltime_date|naturaltime }}
                {% endif %}
            </li>
        {% empty %}
            <li>지난 알림이 없습니다.</li>
        {% endfor %}
    </ul>
</body>
</html>
