<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{{request.META.HTTP_REFERER|escape}}">뒤로 가기</a><br>
    <h1>일정 추가</h1>
    <form method="POST">
        {% csrf_token %}
        제목: <input type="text" name="title"><br><br>

        시간:
        <select name="am_pm">
            <option value="AM">오전</option>
            <option value="PM">오후</option>
        </select>
        <select name="time_hour">
            {% for hour in hours %}
            <option value="{{ hour }}">{{ hour }}</option>
            {% endfor %}
        </select>
        시
        <select name="time_minute">
            {% for minute in minutes %}
            <option value="{{ minute }}">{{ minute }}</option>
            {% endfor %}
        </select>
        분<br><br>

        관련 단어:<br>
        {% for keyword in existing_keywords %}
        <input type="checkbox" name="related_words" value="{{ keyword }}">{{ keyword }}<br>
        {% endfor %}

        <label>관련 단어 추가:</label>
        <input type="text" name="additional_word"><br><br>

        <input type="submit" value="완료">
    </form>
</body>
</html>