<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>로고</h1>
    <hr>
    <!-- 달력 -->
    <h2 class="calendar_title">{{ year }}년 {{ month }}월 {{ today_day }}일</h2>
    <table class="calendar">
        <thead>
            <tr class="calendar_header">
                <th>일</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
            </tr>
        </thead>
        <tbody>
            {% for week in cal_data %}
            <tr>
                {% for day, day_class in week %}
                <td class="calendar_day {{ day_class }} {% if day == today_day and day_class == 'current-month' %}today{% endif %}">
                    {% if day %}
                    <div class="date">{{ day }}</div>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    <!-- nav bar -->
    <a href="{% url 'cal:home' %}">홈</a>
    체크리스트
    기록
    <a href="{% url 'accounts:mypage' %}">마이페이지</a>
    <br>
    <a href="{% url 'cal:home2' year month %}">홈2</a>
</body>
</html>