<div class="bottom-navigation">
  <a class="nav-menu" href="{% url 'cal:home' %}">
    <div class="menu">
      <img class="icon" src="{% static 'img/nav-01home.png' %}" />
      <span>홈</span>
    </div>
  </a>
  <a class="nav-menu" href="{% url 'checklist:home' %}">
    <div class="menu">
      <img class="icon" src="{% static 'img/nav-02checklist.png' %}" />
      <span>체크리스트</span>
    </div>
  </a>
  <a class="nav-menu" href="{% url 'record:home' %}">
    <div class="menu">
      <img class="icon" src="{% static 'img/nav-03memo.png' %}" />
      <span>기록</span>
    </div>
  </a>
  <a class="nav-menu" href="{% url 'accounts:mypage' %}">
    <div class="menu">
      <img class="icon" src="{% static 'img/nav-04mypage.png' %}" />
      <span>마이페이지</span>
    </div>
  </a>
</div>
