{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static './css/planner_detail.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css"
    />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <script
      src="https://code.jquery.com/jquery-1.12.3.min.js"
      integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
    <script
      type="text/javascript"
      src="https://rawgit.com/FezVrasta/bootstrap-material-design/master/dist/js/material.min.js"
    ></script>
    <script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/ko.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js"
      integrity="sha512-L4qpL1ZotXZLLe8Oo0ZyHrj/SweV7CieswUODAAPN/tnqN3PA1P+4qPu5vIryNor6HQ5o22NujIcAZIfyVXwbQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="text/javascript" src="{% static './js/bootstrap-material-datetimepicker.js' %}"></script>

    <title>Document</title>
    <script>
        (function (i, s, o, g, r, a, m) {
          i["GoogleAnalyticsObject"] = r;
          (i[r] =
            i[r] ||
            function () {
              (i[r].q = i[r].q || []).push(arguments);
            }),
            (i[r].l = 1 * new Date());
          (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m);
        })(window, document, "script", "//www.google-analytics.com/analytics.js", "ga");
  
        ga("create", "UA-60343429-1", "auto");
        ga("send", "pageview");
      </script>
</head>
<body>
    <nav>
        <div class="title">
            <a href="{{request.META.HTTP_REFERER|escape}}"><div class="back-btn"></div></a>
          <span class="page-title">일정 추가</span>
        </div>
        <div class="divider"></div>
    </nav>
  
    <form method="POST">
    {% csrf_token %}      
    <div class="plan-title">
       
        <div class="form-group is-empty">
            <input type="text"
            class="form-control plan-input"
            placeholder="일정 입력"
            id="plan-title-input"
            name="title">
        </div>
        <div class="divider"></div>
        <!--<span class="title">내과 진료 예약</span>-->
    </div>
    
    <div class="plan-detail">
        <div class="plan-detail-time">
          <div class="top-row">
            <div class="icon"></div>
            <span>시간</span>
          </div>
          <div class="setting-time">
            <div class="row">
              <div class="col-md-6">
                <div class="settime-wrapper">
                  <div class="form-group label-floating is-empty"><input type="text" id="time" class="form-control" style="width: 50%" data-dtp="dtp_5H8Rd"><label for="time" class="control-label"></label></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="plan-detail-category">
          <div class="top-row">
            <div class="icon"></div>
            <span>관련단어</span>
          </div>
          <div class="setcategory-wrapper">
            <div id="tag-container" class="tag-container"></div>
            <div class="setcategory">
              <div class="form-control-wrapper">
                <input type="text" id="category-input" class="category-form-wrapper" placeholder="관련단어 추가" maxlength="7">
              </div>
              <button id="add-category" class="add-category-btn">추가하기</button>
            </div>
          </div>
        </div>
      </div>    

        
        {% for keyword in existing_keywords %}
        <input type="checkbox" name="related_words" value="{{ keyword }}">{{ keyword }}<br>
        {% endfor %}

        <label>관련 단어 추가:</label>
        <input type="text" name="additional_word"><br><br>
    
    <div class="plan-settingbtn">
        <input class="plan-submit-btn" type="submit" value="완료">
         <!--<div class="submit-btn"><button type="submit">완료</button></div>-->
    </div>
   
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
          moment.locale("ko");
  
          $("#date").bootstrapMaterialDatePicker({
            time: false,
            clearButton: true,
            format: "YYYY-MM-DD",
          });
  
          $("#time").bootstrapMaterialDatePicker({
            date: false,
            shortTime: false,
            lang: "ko",
            cancelText: "취소",
            format: "HH:mm",
          });
  
          $("#date-format").bootstrapMaterialDatePicker({
            format: "YYYY-MM-DD HH:mm",
          });
  
          $("#date-fr").bootstrapMaterialDatePicker({
            format: "YYYY-MM-DD HH:mm",
            lang: "ko",
            weekStart: 1,
            cancelText: "취소",
            nowButton: true,
            switchOnClick: true,
          });
  
          $("#date-end").bootstrapMaterialDatePicker({
            weekStart: 0,
            format: "YYYY-MM-DD HH:mm",
          });
  
          $("#date-start")
            .bootstrapMaterialDatePicker({
              weekStart: 0,
              format: "YYYY-MM-DD HH:mm",
              shortTime: true,
            })
            .on("change", function (e, date) {
              $("#date-end").bootstrapMaterialDatePicker("setMinDate", date);
            });
  
          $("#min-date").bootstrapMaterialDatePicker({
            format: "YYYY-MM-DD HH:mm",
            minDate: new Date(),
          });
  
          $.material.init();
  
          $("#add-category").click(function () {
            var categoryText = $("#category-input").val().trim();
            if (categoryText) {
              var color = "#" + Math.floor(Math.random() * 16777215).toString(16);
              $("#tag-container").prepend(
                '<div class="tag" style="background-color: ' +
                  color +
                  ';">' +
                  categoryText +
                  '<button class="remove-tag">&times;</button>' +
                  "</div>"
              );
              $("#category-input").val(""); // Clear the input field
            }
          });
  
          $(document).on("click", ".remove-tag", function () {
            $(this).parent().remove();
          });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const title = localStorage.getItem("selectedTitle");
          if (title) {
            document.getElementById("plan-title-input").value = title;
            localStorage.removeItem("selectedTitle"); // Clear the stored title
          }
        });
    </script>
    <script>
        document.querySelector(".back-btn").addEventListener("click", function () {
          window.history.back();
        });
    </script>
</body>
</html>