<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>일정 수정</title>
</head>
<body>
    <a href="{{request.META.HTTP_REFERER|escape}}">뒤로 가기</a><br>
    <h1>일정 수정</h1>
    <form method="POST">
        {% csrf_token %}
        제목: <input type="text" name="title" value="{{ context.schedule.title }}"><br><br>

        시간:
        <select name="am_pm">
            <option value="AM" {% if context.selected_am_pm == "AM" %}selected{% endif %}>오전</option>
            <option value="PM" {% if context.selected_am_pm == "PM" %}selected{% endif %}>오후</option>
        </select>
        <select name="time_hour">
            {% for hour in context.hours %}
            <option value="{{ hour }}" {% if hour == context.selected_hour %}selected{% endif %}>{{ hour }}</option>
            {% endfor %}
        </select>
        시
        <select name="time_minute">
            {% for minute in context.minutes %}
            <option value="{{ minute }}" {% if minute == context.selected_minute %}selected{% endif %}>{{ minute }}</option>
            {% endfor %}
        </select>
        분<br><br>
        
        관련 단어:<br>
        {% for keyword in context.existing_keywords %}
        <input type="checkbox" name="related_words" value="{{ keyword }}" {% if keyword in context.schedule.related_words %}checked{% endif %}>{{ keyword }}<br>
        {% endfor %}

        <label>관련 단어 추가:</label>
        <input type="text" name="additional_word"><br><br>

        <input type="submit" value="완료">
    </form>
    <a href="{% url 'cal:delete_schedule' context.schedule.id %}">삭제하기</a>
</body>
</html>
