{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/planner_detail_update.css' %}" />
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/ko.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script type="text/javascript" src="{% static 'js/planner_detail.js' %}"></script>
    <title>Document</title>
</head>
<body>
  <nav>
    <div class="title">
        <a href="{{ request.META.HTTP_REFERER|escape }}"><div class="back-btn"></div></a>
        <span class="page-title">일정 수정</span>
    </div>
    <div class="divider"></div>
</nav>
    <form method="POST">
        {% csrf_token %}
        <div class="plan-title">
            <div class="form-group is-empty">
              <input type="text"
              class="form-control plan-input"
              
              id="plan-title-input"
              name="title"
              value="{{ context.schedule.title }}">
            </div>
            <div class="divider"></div>
        </div>
        <div class="plan-detail">
          <div class="plan-detail-time">
            <div class="top-row">
                <div class="icon"></div>
                <span>시간</span>
            </div>
            <div class="setting-time">
              <input type="text" id="am_pm_input" class="form-control" readonly value="{{ context.selected_am_pm }}" />
              <input type="text" id="time_hour_input" class="form-control" readonly value="{{ context.selected_hour }}" /> 시
              <input type="text" id="time_minute_input" class="form-control" readonly value="{{ context.selected_minute }}" /> 분
          
              <input type="hidden" id="am_pm" name="am_pm" value="{{ context.selected_am_pm }}" />
              <input type="hidden" id="time_hour" name="time_hour" value="{{ context.selected_hour }}" />
              <input type="hidden" id="time_minute" name="time_minute" value="{{ context.selected_minute }}" />
            </div>
            <!-- Hidden timepicker -->
            <input type="text" id="timepicker"  />
          </div>
          <div class="divider"></div>
            <div class="plan-detail-category">
                <div class="top-row">
                    <div class="icon"></div>
                    <span>관련 단어</span>
                </div>
                <div class="setting-category">
                {% for keyword in context.existing_keywords %}
                <div class="checkbox-wrapper">
                  <input type="checkbox" name="related_words" value="{{ keyword }}" {% if keyword in context.schedule.related_words %}checked{% endif %}>
                  <label for="{{ keyword }}" class="checkbox-label" value="{{ keyword }}">{{ keyword }}</label><br>
                </div>
                {% endfor %}
                
                </div>

                
                <label>관련 단어 추가:</label>
                <input type="text" name="additional_word">
            </div>
        </div>
      
        <div class="plan-settingbtn">
          <a href="{% url 'cal:delete_schedule' context.schedule.id %}"><div class="cancel-btn">삭제</div></a>
          <div class="submit-btn"><input class="plan-submit-btn" type="submit" value="완료"></div>
        </div>
    </form>
    
   
    <script type="text/javascript">
        $(document).ready(function () {
          moment.locale("ko");
  
          $("#date").bootstrapMaterialDatePicker({
            time: false,
            clearButton: true,
            format: "YYYY-MM-DD",
          });
  
          $("#time").bootstrapMaterialDatePicker({
            date: false,
            shortTime: false,
            lang: "ko",
            cancelText: "취소",
            format: "HH:mm",
          });
  
          $("#date-format").bootstrapMaterialDatePicker({
            format: "YYYY-MM-DD HH:mm",
          });
  
          $("#date-fr").bootstrapMaterialDatePicker({
            format: "YYYY-MM-DD HH:mm",
            lang: "ko",
            weekStart: 1,
            cancelText: "취소",
            nowButton: true,
            switchOnClick: true,
          });
  
          $("#date-end").bootstrapMaterialDatePicker({
            weekStart: 0,
            format: "YYYY-MM-DD HH:mm",
          });
  
          $("#date-start")
            .bootstrapMaterialDatePicker({
              weekStart: 0,
              format: "YYYY-MM-DD HH:mm",
              shortTime: true,
            })
            .on("change", function (e, date) {
              $("#date-end").bootstrapMaterialDatePicker("setMinDate", date);
            });
  
          $("#min-date").bootstrapMaterialDatePicker({
            format: "YYYY-MM-DD HH:mm",
            minDate: new Date(),
          });
  
          $.material.init();
  
          $("#add-category").click(function () {
            var categoryText = $("#category-input").val().trim();
            if (categoryText) {
              var color = "#" + Math.floor(Math.random() * 16777215).toString(16);
              $("#tag-container").prepend(
                '<div class="tag" style="background-color: ' +
                  color +
                  ';">' +
                  categoryText +
                  '<button class="remove-tag">&times;</button>' +
                  "</div>"
              );
              $("#category-input").val(""); // Clear the input field
            }
          });
  
          $(document).on("click", ".remove-tag", function () {
            $(this).parent().remove();
          });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const title = localStorage.getItem("selectedTitle");
          if (title) {
            document.getElementById("plan-title-input").value = title;
            localStorage.removeItem("selectedTitle"); // Clear the stored title
          }
        });
    </script>
    <script>
        document.querySelector(".back-btn").addEventListener("click", function () {
          window.history.back();
        });
    </script>
</body>
</html>
