<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기록 디테일</title>
</head>
<body>
    <a href="{%url 'record:home'%}">뒤로가기</a>
    <h2>{{record.title}}</h2>
    <hr>
    {{record.content}}<br><br>

    {%if record.image %}
        <img  src="{{record.image.url}}">
    {%endif%}
    <p>{{record.created_at|date:"Y.m.d"}}</p><br>

    <a href = "{%url 'record:update' record.id%}">수정</a>
    <a href = "{%url 'record:delete' record.id %}">삭제</a>
</body>
</html>