<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>체크리스트 알림</title>
    {% load static%}
</head>
<body>
    <a href="{%url 'accounts:mypage'%}">뒤로가기</a><br>

    <h2>구독 서비스</h2>
    <h3>▶ 구독 혜택</h3>
    <ul>
        <li><b>개인 맞춤 알림음</b><br>
        똑같은 알람 대신 사랑하는 가족의 목소리로 서비스를 더욱 즐겨보세요.<br>
        해당 앱의 알람이 가족의 목소리를 통해 전달됩니다.</li>
        <br>
        <li><b>광고  제거</b><br>
        하단의 광고가 제거됩니다.</li>
        <br>
        <li><b>다크 모드</b><br>
        앱 설정에 따라 화이트 모드와 다크 모드의 두가지 버전이 제공됩니다.</li><br>
    </ul>

    <h3> ▶ 구독 가격</h3>
    <ul><li><b>월 3,300원(VAT 300원)</b></li></ul>
    <button>구독</button>
    
</body>
</html>