<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Comming Soon</h1>
    username: {{ request.user.username }}<br>
    디자인: 
    {% if request.user.role == "child" %}
    자녀
    {% else %}
    부모
    {% endif %}<br>
    
    <hr>
    <!-- nav bar -->
    홈
    <a href="{% url 'checklist:home' %}">체크리스트</a>
    기록
    <a href="{% url 'accounts:mypage' %}">마이페이지</a>
    
</body>
</html>