<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{{request.META.HTTP_REFERER|escape}}">뒤로 가기</a><br>
    <form method="POST" action="{% url 'accounts:myinfo_update' %}" enctype="multipart/form-data">
        {% csrf_token %}
        기존 프로필: <img width="100" height="100" src="{{ request.user.image.url }}"><br>
        이미지 변경: <input type="file" name="image"><br>
        이름: <input type="text" name="nickname" value="{{ info.nickname }}"><br>
        <input type="submit" value="수정하기">
    </form>
</body>
</html>