{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/myinfo_update2.css" %}">
    <title>Document</title>
  </head>
  <body>
    <header>
      <a href="{%url 'accounts:mypage'%}"><img src="{% static "img/back.png"%}" /></a>
    </header>

    <section>
      <form method="POST" action="{% url 'accounts:myinfo_update' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="photoLine">
          <input type="file" id="image-upload" name="image" accept="image/*" />
          <label for="image-upload"><img class="preview" id="profile-image" src="{{ request.user.image.url }}" /></label>
        </div>

        <div class="nameLine">
          <div>이름</div>
          <input type="text" name="nickname" value="{{ info.nickname }}" />
        </div>
        <div class="doneLine">
          <button type="submit" id="done"></button>
          <label for="done">완료</label>
        </div>
      </form>
    </section>

    <script>
      document.getElementById("image-upload").addEventListener("change", function (event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
          document.getElementById("profile-image").src = e.target.result;
        };

        if (file) {
          reader.readAsDataURL(file);
        }
      });
    </script>
  </body>
</html>
