{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/mypage2.css" %}">
    <title>Document</title>
  </head>
  <body>
    <header><img src="{% static "img/logo.png" %}"></header>
    <nav>
      <div class="inputPhoto">
        <img src="{{ request.user.image.url }}">
      </div>

      <div class="userInfo">
        <div class="username">{{ request.user.nickname }}</div>
        <div class="useremail">{{ request.user.email }}</div>
      </div>
    </nav>
    <section>
      <a href="{% url 'accounts:myinfo_update' %}">내 정보 수정하기</a>
      <a href="{%url 'accounts:gearing' request.user.id %}">연동하기</a>
      <a href="{% url 'accounts:alarm' %}">서비스 설정</a>
      <a href="{% url 'accounts:logout' %}">로그아웃</a>
    </section>
    <div class="ad"><img src={% static "img/ad.png"%} id="ad" /></div>

 <!-- nav bar -->
 <div class="nav_po">
  <div class="bottom-navigation">
    <a class="nav-menu" href="{% url 'cal:home' %}">
      <div class="menu">
        <img class="icon" src="{% static 'img/nav-01home_gray.png' %}" />
        <span>홈</span>
      </div>
    </a>
    <a class="nav-menu" href="{% url 'checklist:home' %}">
      <div class="menu">
        <img class="icon" src="{% static 'img/nav-02checklist_pur.png' %}" />
        <span>체크리스트</span>
      </div>
    </a>
    <a class="nav-menu" href="{% url 'record:home' %}">
      <div class="menu">
        <img class="icon" src="{% static 'img/nav-03memo.png' %}" />
        <span>기록</span>
      </div>
    </a>
    <a class="nav-menu" href="{% url 'accounts:mypage' %}">
      <div class="menu">
        <img class="icon" src="{% static 'img/nav-04mypage.png' %}" />
        <span>마이페이지</span>
      </div>
    </a>
  </div>
</div>
    <script src="{% static "js/myinfo_update1.js"%}"></script>
  </body>
</html>
