@font-face {
  font-family: "NanumBarunpen";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NanumBarunpen";
  -webkit-touch-callout: none;
}

a,
button {
  cursor: pointer;
}
a {
  color: #000;
  color: var(--main-black);
  text-decoration: none;
}

body {
  width: 375px;
  height: 812px;
  position: relative;
  border: 1px solid black;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
    border-bottom: 1px solid black;
    padding-bottom: 13px;
}

.content {
  width: 100%;
  height: 600px;
  margin-top: 21px;
}

.post_wrap {
  width: 330px;
  height: 570px;
  margin: 21px 0 0 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.post_wrap::-webkit-scrollbar {
  display: none;
}

.post {
  width: 150px;
  height: 174px;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
}

.post:last-child {
  margin: 0;
}

.img_div {
  margin: 0;
  height: 90px;
  overflow: hidden;
}

.post_title {
  margin: 0;
  width: 100%;
  height: 22px;
  border-bottom: 1px solid black;
  background-color: rgb(201, 153, 249, 0.5);
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  padding: 0;
  padding-top: 6px;
}

.post_title a:visited,
.post_title a:link {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.post_content {
  margin: 0;
  margin-top: 7px;
  width: 132px;
  font-size: 10px;
  margin-bottom: 12px;
}

.date {
  margin: 0;
  color: #999999;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  right: 9px;
  bottom: 5px;
}

.plus {
  position: absolute;
  right: 24px;
  bottom: 85px;
}

.bottom-navigation {
  align-items: flex-start !important;
  background-color: #ffffff;
  border-radius: 0;
  border-top: 1.5px solid #e1e1e1 !important;
  width: 375px;
  display: flex;
  height: 3.4rem;
  padding-top: 12px;
  margin-top: 90px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 700;
}

.nav-menu .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;
}

.nav-menu .menu .icon {
  height: 2rem;
  width: 2rem;
}

.nav-menu .menu span {
  font-size: 12px;
}
