body {
    width: 375px;
    height: 812px;
    margin: 0;
    margin-top: 33px;
}


.title {
    width: 100%;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    flex-direction: column;
}

.title h3 {
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
}

.title div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    position: relative;
}

.content {
    margin-top: 15px;
    margin-left: 15px;
}

.fileInput {
    display: none;
}

.fileInputLabel img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
}

.text_div {
    display: flex;
    flex-direction: column;
    width: 346px;
}

.text_title {
    border: none;
    width: 100%; 
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
}

.text_content {
    margin-top: 15px;
    border: none;
    width: 346px;
    height: 500px;
    vertical-align: top;
    resize: none;
    overflow: hidden;
    font-size: 12px;
}

.text_content::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
}

.file_submit {
    display: flex;
    width: 346px;
    justify-content: space-between;
    margin-top: 35px;
    align-items: center;
}

.btn_div {
    display: flex;
}

.submit_btn {
    border: 1px solid rgb(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    width: 70px;
    height: 35px;
    margin: 0;
}

.submit_btn.active {
    background-color: rgb(217,217,217,0.3);
}

.remove_content {
    display: none;
    border: 1px solid rgb(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    width: 70px;
    height: 35px;
    margin: 0;
    margin-right: 4px;
}

.remove_content.active {
    display: block;
}