@font-face {
  font-family: "NanumBarunpen";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NanumBarunpen";
  -webkit-touch-callout: none;
}

a,
button {
  cursor: pointer;
}
a {
  color: #000;
  color: var(--main-black);
  text-decoration: none;
}

body {
  width: 375px;
  height: 812px;
  border: 1px solid black;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
}

nav .nav-logo {
  text-align: center;
  padding-top: 33px;
}

nav .nav-logo img {
  width: 35px;
}

nav .nav-title {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-title .date {
  font-weight: bold;
  font-size: 20px;
}

.rightbox {
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-txt {
  height: 20px;
  width: 120px;
  border: 0;
  font-size: 1rem;
  background-color: transparent;
}

.search-btn {
  background: url(../img/search20.png) center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  border: 0;
}

.alarm-btn {
  background: url(../img/alarm20.png) center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.bottom-navigation {
  align-items: flex-start !important;
  background-color: #ffffff;
  border-radius: 0;
  border-top: 1.5px solid #e1e1e1 !important;
  width: 375px;
  bottom: 0;
  display: flex;
  height: 3.4rem;
  padding-top: 12px;
  z-index: 10;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 700;
}

.nav-menu .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;
}

.nav-menu .menu .icon {
  height: 2rem;
  width: 2rem;
}

.nav-menu .menu span {
  font-size: 12px;
}


.container-schedule .schedule {

  background-clip: content-box;
  padding-top: 20px;
  padding-bottom: 10px;

}

.divider {
  border: 1px solid #e4e4e4;
  padding: 0px;
  margin: 5px 0 10px 0;
}

.plan-date {
  padding: 10px 0 10px 0;
  font-weight: bold;
}

.planner {
  position: relative;
  padding: 5px 20px 10px 20px;
  height: 320px;
}

.plan-group {
  padding: 10px 0 0 0;
}

.plan-group .titlebar {
  background-color: rgb(146, 146, 146);
  background-clip: content-box;
  height: 40px;
  width: 6px;
  border-radius: 3px;
  padding-right: 5px;
  float: left;
}

.plan-group .plan-txt {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.plan-group .plan-txt .title {
}

.plan-group .plan-txt .time {
  font-size: smaller;
  color: #aaaaaa;
}

.add-btsn {
  cursor: pointer;
  float: right;
  width: 45px;
  height: 45px;
  background: url(../img/add-btn.png) center no-repeat;
  background-clip: content-box;
  border: 1px solid #aaaaaa;
  border-radius: 50%;
}

.add-btn {
  
  position: absolute;
  left: 324px;
  bottom: 92px;

  width: 35px;
  height: 35px;
  background: #fff;
  border: 1px solid #aaaaaa;
  border-radius: 50%;
  cursor: pointer;
}

.add-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #aaaaaa;
  height: 50%;
  width: 3px;
}

.add-btn:after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 50%;
  background: #aaaaaa;
  top: 50%;
  left: 50%;
}

.dayoff {
  color: red;
}

.saturday {
  color: #1a55ee;
}

thead th:first-child {
  color: red; /* 일요일 색상 */
}

thead th:last-child {
  color: #1a55ee; /* 토요일 색상 */
}

.previous-month {
  opacity: 0.8;
}

thead th {
  padding: 10px 22px 5px 10px;
}

td {
  padding: 10px 22px 7px 10px;
}


thead th {
  padding: 0;
}

table {
  width: 100%;
  font-size: 13px;
}


/* 날짜와 일정 제목 구분 */
td {
  position: relative; /* 날짜와 일정을 포함할 영역을 상대 위치로 설정 */
  padding: 1px; /* 필요한 여백 추가 */
  vertical-align: top; /* 날짜가 상단에 위치하도록 설정 */
}

.date-container {
  text-align: center;
  margin-bottom:2px; 
  width: 50px;
}

.schedule-container {
  margin-top: 5px;
  height: 22px;
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 1px;
}

.schedule-item {
  ont-size: 16px;
  line-height: 1;
  padding: 0;
  color: #000; 
  text-align: center; 
}

.plan-group.입원 .titlebar {
  background-color: #baeeff; /* 입원일 경우 색상 */
}

.plan-group.수술 .titlebar {
  background-color: #ffb6c1; /* 수술일 경우 색상 */
}

.plan-group.처방 .titlebar {
  background-color: #daffda; /* 처방일 경우 색상 */
}

.plan-group.진료 .titlebar {
  background-color: #ffffa5; /* 진료일 경우 색상 */
}


.schedule-item.입원 {
  color: #baeeff; /* 입원일 경우 색상 */
}

.schedule-item.수술 {
  color: #ffb6c1; /* 수술일 경우 색상 */
}

.schedule-item.처방 {
  color: #daffda; /* 처방일 경우 색상 */
}

.schedule-item.진료 {
  color: #ffffa5; /* 진료일 경우 색상 */
}
