@font-face {
  font-family: "NanumBarunpen";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NanumBarunpen";
  -webkit-touch-callout: none;
}

a,
button {
  cursor: pointer;
}

a {
  color: #000;
  color: var(--main-black);
  text-decoration: none;
}

body {
  width: 375px;
  height: 812px;
  border: 1px solid black;
}

nav {
  display: flex;
  flex-direction: column;
}

nav .nav-logo {
  text-align: center;
  padding-top: 33px;
}

nav .nav-logo img {
  width: 35px;
}

nav .nav-title {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-title .date {
  font-weight: bold;
  font-size: 20px;
}

.rightbox {
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-txt {
  height: 20px;
  width: 120px;
  border: 0;
  font-size: 1rem;
  background-color: transparent;
}

.search-btn {
  background: url(../img/search20.png) center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  border: 0;
}

.alarm-btn {
  background: url(../img/alarm20.png) center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.bottom-navigation {
  align-items: flex-start !important;
  background-color: #ffffff;
  border-radius: 0;
  border-top: 1.5px solid #e1e1e1 !important;
  width: 375px;
  bottom: 0;
  display: flex;
  height: 3.4rem;
  padding-top: 12px;
  z-index: 10;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 700;
}

.nav-menu .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;
}

.nav-menu .menu .icon {
  height: 2rem;
  width: 2rem;
}

.nav-menu .menu span {
  font-size: 12px;
}

.container-schedule .schedule {
  background-color: rgb(255, 255, 255);
  padding: 20px 0;
}

.dayoff {
  color: red;
}

.saturday {
  color: #1a55ee;
}

thead th:first-child {
  color: red; /* 일요일 색상 */
}

thead th:last-child {
  color: #1a55ee; /* 토요일 색상 */
}

thead th {
  padding: 0;
}

table {
  width: 100%;
  font-size: 13px;
}

/* 날짜와 일정 제목 구분 */
td {
  position: relative; /* 날짜와 일정을 포함할 영역을 상대 위치로 설정 */
  padding: 1px; /* 필요한 여백 추가 */
  vertical-align: top; /* 날짜가 상단에 위치하도록 설정 */
}

.date-container {
  text-align: center;
  margin-bottom: 2px; /* 날짜와 일정 제목 사이의 간격 조정 */
  width: 50px;
}

.schedule-container {
  margin-top: 5px; /* 날짜와 일정 제목 사이의 간격 조정 */
  height: 90px;
}

.schedule-item {
  font-size: 10px; /* 일정 제목 크기 조정 */
  background-color: #c3c3c3;
  margin: 2px 0;
  border-radius: 5px;
  width: 50px;
  color: #000; /* 일정 제목 색상 조정 */
  text-align: center; /* 일정 제목을 중앙 정렬 */
}

.schedule-item {
  font-size: 10px; /* 일정 제목 크기 조정 */
  margin: 2px 0;
  border-radius: 5px;
  width: 50px;
  color: #000; /* 일정 제목 색상 조정 */
  text-align: center; /* 일정 제목을 중앙 정렬 */
}

.schedule-item.입원 {
  background-color: #baeeff; /* 입원일 경우 색상 */
}

.schedule-item.수술 {
  background-color: #ffb6c1; /* 수술일 경우 색상 */
}

.schedule-item.처방 {
  background-color: #daffda; /* 처방일 경우 색상 */
}

.schedule-item.진료 {
  background-color: #ffffa5; /* 진료일 경우 색상 */
}
