@font-face {
  font-family: "NanumBarunpen";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NanumBarunpen";
  -webkit-touch-callout: none;
}

body {
  width: 375px;
  height: 812px;
  border: 1px solid black;
  position: relative;
  font-size: 15px;
}

input {
  font-size: 15px;
  outline: none;
  height: 19px;
  border: none;
}

.content {
  margin: 19px 0 0 0;
}

.create_form {
  margin-left: 31px;
  margin-top: 19px;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 46px;
  border-bottom: 1px solid black;
  padding-bottom: 12px;
}

.title img {
  position: relative;
  left: 22.22px;
}

.title h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.subtitle {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  margin-right: 9px;
}

.subtitle input {
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 5px;
}

#id_title {
  width: 300px;
  height: 20px;
  font-size: 22px;
  font-weight: bold;
}

p {
  margin-bottom: 23px;
}

#id_repeat_on {
  display: flex;
  flex-direction: column;
}

#id_repeat_on div {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.repeat .subtitle {
  margin-bottom: 14px;
}

.submit_btn {
  border: 1px solid rgb(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  padding: 6px 21px;
  display: flex;
  position: absolute;
  right: 30px;
  bottom: 19px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
  position: relative;
  top: 6px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 5px;
}

label {
  font-weight: bold;
}

#id_repeat_on label {
  font-weight: normal;
}
