@font-face {
  font-family: "NanumBarunpen";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: NanumBarunpen;
}

body {
  width: 375px;
  margin: 0;
  height: 781px;
  padding: 0;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  margin: 33px 0 10px;
}

nav {
  display: flex;
  flex-direction: row;

  width: 335px;
  height: 80px;
  padding: 20px;
  border-bottom: 15px solid rgba(201, 153, 249, 0.5);
}

.inputPhoto {
  width: 80px;
  height: 80px;
  border: 1px solid rgba(201, 153, 249, 1);
  border-radius: 100%;
  margin-right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.inputPhoto img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
}

.username {
  font-size: 25px;
}

.useremail {
  font-size: 15px;
}

section {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  padding: 20px 10px;
  border-bottom: 3px solid rgba(201, 153, 249, 0.5);
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.ad {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.nav_po {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.bottom-navigation {
  align-items: flex-start !important;
  background-color: #ffffff;
  border-radius: 0;
  border-top: 1.5px solid #e1e1e1 !important;
  width: 375px;

  height: 80px;
  display: flex;
  margin-top: 32px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 700;
  border: none;
}

.nav-menu .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;
}

.nav-menu .menu .icon {
  height: 2rem;
  width: 2rem;
}

.nav-menu .menu span {
  font-size: 12px;
}
