body {
    width: 375px;
    height: 812px;
    margin-top: 33px;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
}

.title img {
    position: relative;
    left: 22.22px;
}

.title h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.notifiction {
    display: flex;
    align-items: center;
    margin-left: 21px;
    margin-top: 21px;
}

.notification_text {
    margin-left: 21px;
}

.notification_text p {
    margin: 0;
}

.new_title, .past_title {
    font-size: 16px;
    font-weight: bold;
}

.time {
    font-size: 13px;
    color: #999999;
    margin-top: 3px;
}

.past {
    margin-top: 28px;
}
    
.content {
    margin-left: 19px;
}