@font-face {
  font-family: "NanumBarunpen";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NanumBarunpen";
  -webkit-touch-callout: none;
}

a,
button {
  cursor: pointer;
}
a {
  color: #000;
  color: var(--main-black);
  text-decoration: none;
}

/*body {
    width: 375px;
    height: 812px;
    margin: 0;
    border: 1px solid black;
  }
    */
body {
  padding: 0;
  position: relative;
  width: 375px;
  height: 812px;
  border: 1px solid black;
}

nav {
  display: flex;
  flex-direction: column;
}

nav .title {
  display: flex;
  align-items: center;
  padding: 33px 30px 10px 30px;
  position: relative;
}

.title .back-btn {
  position: absolute;
  left: 20px;
  top: 33px;
  width: 30px;
  height: 30px;
  background: url(../img/back-btn30.png) center no-repeat;
}

.title .page-title {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.divider {
  border: 1px solid #333333;
  padding: 0px;
  margin: 5px 0 10px 0;
}

.plan-title {
  font-weight: bold;
  font-size: 18px;
}

.plan-title .form-control {
  border: none;
  box-shadow: none;
  font-size: 18px;
  padding: 10px 0 10px 20px;
  width: calc(100% - 40px);
  outline: none;
}

.plan-title .form-control::placeholder {
  color: #888;
  font-size: 18px;
}

.plan-title span {
  padding: 20px 0 20px 20px;
  font-weight: bold;
}

.plan-detail-time,
.plan-detail-category {
  margin-left: 15px;
}

.plan-detail-time .top-row,
.plan-detail-category .top-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.plan-detail-time .icon {
  background: url(../img/setting-time.png) center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.plan-detail-time span,
.plan-detail-category span {
  font-size: 20px;
}

.plan-detail-category .icon {
  background: url(../img/setting-category.png) center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.search-btn {
  background: url(../img/search20.png) center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  border: 0;
}

.dtp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2000;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dtp > .dtp-content {
  background: #fff;
  max-width: 300px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  max-height: 520px;
  position: relative;
  left: 50%;
}
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
  background: #e2cafc;
  color: #fff;
  text-align: center;
  padding: 0.3em;
}

.dtp div.dtp-date,
.dtp div.dtp-time {
  background: #f4ebfe;
  text-align: center;
  color: #000000;
  padding: 10px;
}
.dtp div.dtp-date > div {
  padding: 0;
  margin: 0;
}
.dtp div.dtp-actual-month {
  font-size: 1.5em;
}
.dtp div.dtp-actual-num {
  font-size: 3em;
  line-height: 0.9;
}
.dtp div.dtp-actual-maxtime {
  font-size: 3em;
  line-height: 0.9;
}
.dtp div.dtp-actual-year {
  font-size: 1.5em;
  color: #000000;
}
.dtp div.dtp-picker {
  padding: 1em;
  text-align: center;
}

.dtp div.dtp-picker-month,
.dtp div.dtp-actual-time {
  font-weight: 500;
  text-align: center;
}
.dtp div.dtp-picker-month {
  padding-bottom: 20px !important;
  text-transform: uppercase !important;
}

.dtp .dtp-close {
  position: absolute;
  top: 0.5em;
  right: 1em;
}
.dtp .dtp-close > a {
  color: #000000;
}
.dtp .dtp-close > a > i {
  font-size: 1em;
}

.dtp table.dtp-picker-days {
  margin: 0;
  min-height: 251px;
}
.dtp table.dtp-picker-days,
.dtp table.dtp-picker-days tr,
.dtp table.dtp-picker-days tr > td {
  border: none;
}
.dtp table.dtp-picker-days tr > td {
  font-weight: 700;
  font-size: 0.8em;
  text-align: center;
  padding: 0.5em 0.3em;
}
.dtp table.dtp-picker-days tr > td > span.dtp-select-day {
  color: #bdbdbd !important;
  padding: 0.4em 0.5em 0.5em 0.6em;
}
.dtp table.dtp-picker-days tr > td > a,
.dtp .dtp-picker-time > a {
  color: #212121;
  text-decoration: none;
  padding: 0.4em 0.5em 0.5em 0.6em;
  border-radius: 50% !important;
}
.dtp table.dtp-picker-days tr > td > a.selected {
  background: #f4ebfe;
  color: #000000;
}
.dtp table.dtp-picker-days tr > th {
  color: #757575;
  text-align: center;
  font-weight: 700;
  padding: 0.4em 0.3em;
}

.dtp .p10 > a {
  color: #e2cafc;
  text-decoration: none;
}
.dtp .p10 {
  width: 10%;
  display: inline-block;
}
.dtp .p20 {
  width: 20%;
  display: inline-block;
}
.dtp .p60 {
  width: 60%;
  display: inline-block;
}
.dtp .p80 {
  width: 80%;
  display: inline-block;
}

.dtp a.dtp-meridien-am,
.dtp a.dtp-meridien-pm {
  position: relative;
  top: 10px;
  color: #212121;
  font-weight: 500;
  padding: 0.7em 0.5em;
  border-radius: 50% !important;
  text-decoration: none;
  background: #eee;
  font-size: 1em;
}
.dtp .dtp-actual-meridien a.selected {
  background: #e2cafc;
  color: #fff;
}

.dtp .dtp-picker-time > .dtp-select-hour {
  cursor: pointer;
}
.dtp .dtp-picker-time > .dtp-select-minute {
  cursor: pointer;
}

.dtp .dtp-buttons {
  padding: 0 1em 1em 1em;
  text-align: right;
}

.dtp.hidden,
.dtp .hidden {
  display: none;
}
.dtp .invisible {
  visibility: hidden;
}

.dtp .left {
  float: left;
}
.dtp .right {
  float: right;
}
.dtp .clearfix {
  clear: both;
}

.dtp .center {
  text-align: center;
}

.dtp-picker-year {
  margin-bottom: 1px;
}

.year-picker-item {
  text-align: center;
  padding-top: 5px;
  font-size: large;
  cursor: pointer;
  margin: 0 auto;
}

.dtp-actual-year:hover {
  cursor: pointer;
}
.dtp-actual-year.disabled:hover {
  cursor: inherit;
}
.year-picker-item:hover {
  color: #e2cafc;
}

.year-picker-item.active {
  color: #e2cafc;
  font-weight: bold;
}

.dtp-select-year-range {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.form-control-wrapper {
  margin: 0;
  display: flex; /* Flexbox를 사용하여 자식 요소들을 수평으로 정렬 */
}

.form-control-wrapper input {
  flex: 1; /* Input 필드가 가능한 공간을 차지하도록 설정 */
  width: 240px;
}

.category-form-wrapper {
  flex: 1; /* Input 필드가 가능한 공간을 차지하도록 설정 */
  width: 240px;
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-category-btn {
  background-color: #d9d9d9;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  flex-shrink: 0;
  height: 34px;
  padding: 0 10px 0 10px;
}

.settime-wrapper {
  margin: 0 0 -20px 10px;
  display: flex;
}

.setcategory-wrapper {
  margin: 0 0 0 10px;
}
.setcategory {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag {
  display: inline-block;
  padding: 5px 30px 5px 10px; /* Adjust padding to make space for the button */
  margin: 5px;
  border-radius: 30px; /* More rounded corners */
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  position: relative;
  overflow: hidden; /* Hide overflow to prevent any accidental layout issues */
  background-color: #3498db; /* Example background color */
}

.tag .remove-tag {
  position: absolute;
  top: 50%;
  right: 10px; /* Position button inside the tag */
  transform: translateY(-50%); /* Vertically center the button */
  background: #fff;
  color: #c77777;
  border: none;
  border-radius: 50%;
  width: 16px; /* Adjust size to fit the tag */
  height: 16px; /* Adjust size to fit the tag */
  text-align: center;
  line-height: 16px; /* Adjusted for button size */
  cursor: pointer;
  font-size: 10px; /* Smaller font size */
  padding: 0; /* Remove padding */
}

.tag-container {
  margin: 10px 0 10px 0;
}

.tag-container .tag:nth-child(even) {
  background-color: #f39c12; /* Random colors */
}

.tag-container .tag:nth-child(odd) {
  background-color: #3498db; /* Random colors */
}

.cancel-btn,
.submit-btn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: #e0e0e0;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  margin: 0;
}

.cancel-btn {
  text-align: center;
  font-size: 15px;
  background-color: #e0e0e0;
  color: #ff4a53;
  width: 150px;
  line-height: 40px;
}

.bottom-navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-menu .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;
}

.nav-menu .menu .icon {
  height: 2rem;
  width: 2rem;
}

.nav-menu .menu span {
  font-size: 12px;
}

.plan-settingbtn {
  position: fixed;
  bottom: 10px;
  width: 375px;
  display: flex;
  gap: 25px;

  z-index: 1000;
  bottom: 20px;

  justify-content: center;
  align-items: center;
}

.plan-submit-btn {
  width: 150px;
  height: 40px;
  border: none;
  font-size: 15px;
  border-radius: 7px;
  background-color: #e0e0e0;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}

.setting-category {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.checkbox-label {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #dcdcdc; /* 기본 연회색 */
  color: #333;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-label {
  background-color: #add8e6; /* 기본 하늘색 */
}

.checkbox-wrapper input[type="checkbox"]:checked[value="수술"] + .checkbox-label {
  background-color: #ffb6c1; /* 분홍색 */
}

.checkbox-wrapper input[type="checkbox"]:checked[value="처방"] + .checkbox-label {
  background-color: #daffda; /* 연두색 */
}

.checkbox-wrapper input[type="checkbox"]:checked[value="진료"] + .checkbox-label {
  background-color: #ffffa5; /* 연노란색 */
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  display: block;
  text-align: center;
  color: white;
  font-size: 16px;
}

/********************/

#timepicker {
  opacity: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
  pointer-events: none;
}

.setting-time {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.setting-time input {
  width: 20px;
}

.setting-time #am_pm_input {
  border: 0;
}

#am_pm_input::placeholder {
  color: #000;
}

.dtp div.dtp-date,
.dtp div.dtp-time {
  background: #f4ebfe;
}

.dtp-close {
  opacity: 0;
}

.dtp-header,
.dtp-btn-now {
  display: none;
}

.dtp-buttons button {
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.dtp-btn-cancel {
  margin-right: 5px;
}

.dtp a.dtp-meridien-am {
  padding: 0.7em 0.7em;
}
